
 {% block footer %}
   <div class="col-md-4 mb-5 mb-lg-0">
     <h4 class="text-uppercase mb-4">Location</h4>
     <p class="lead mb-0">22120 Hillion
       <br>Bretagne</p>
   </div>
   <div class="col-md-4 mb-5 mb-lg-0">
     <h4 class="text-uppercase mb-4">Around the Web</h4>
     <ul class="list-inline mb-0">
       <li class="list-inline-item">
         <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
           <i class="fab fa-fw fa-facebook-f"></i>
         </a>
       </li>
       <li class="list-inline-item">
         <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
           <i class="fab fa-fw fa-google-plus-g"></i>
         </a>
       </li>
       <li class="list-inline-item">
         <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
           <i class="fab fa-fw fa-twitter"></i>
         </a>
       </li>
       <li class="list-inline-item">
         <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.linkedin.com/in/robin-campino-9189a6116/">
           <i class="fab fa-fw fa-linkedin-in"></i>
         </a>
       </li>
       <li class="list-inline-item">
         <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
           <i class="fab fa-fw fa-dribbble"></i>
         </a>
       </li>
     </ul>
   </div>
   <div class="col-md-4">
     <h4 class="text-uppercase mb-4">N'hésitez pas à me contacter</h4>
     <p class="lead mb-0">Normalement je ne mords pas mais sait-on jamais</a>.</p>
   </div>
 </div>
{% endblock %}
